/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */

@layer base {
  html, body {
    font-family: var(--font-inter-tight), var(--font-noto-sans-sc), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  }
}

 .notion,
.notion *:not(pre):not(code):not(.notion-code):not(.notion-code *) {
  font-family: var(--font-inter-tight), var(--font-noto-sans-sc), 
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', sans-serif !important;
}

.notion * {
  font-family: var(--notion-font);
}

.notion {
  --notion-max-width: 720px;
  --notion-header-height: 54px;
}

.notion-frame {
  padding: 0;
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
  font-family: var(--notion-font);
}

.index-page {
  --notion-max-width: 900px;
  font-family: var(--notion-font);
}

.notion-text {
  padding: 0.5em 2px;
  font-family: var(--notion-font);
}

.notion-asset-caption {
  text-align: center;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}

.notion-header .notion-nav-header {
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: auto;
}

.notion-nav-header-rhs {
  gap: 0.5rem;
}

.notion-gallery-grid {
  font-family: var(--notion-font);
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 6vmin;
  gap: 6vmin;
}

.notion-gallery-grid .notion-page-icon-inline {
  display: none;
}

.notion-gallery-grid .notion-page-title-text {
  font-family: var(--notion-font);
  font-size: 2em;
  white-space: unset;
}

.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
  text-overflow: unset;
}

.notion-gallery-grid .notion-property-text {
  font-family: var(--notion-font);
  font-size: 14px;
}

.notion-collection-card {
  font-family: var(--notion-font);
  border-radius: 8px;
  box-shadow: none;
}

.notion-collection-card-cover img {
  border-radius: 8px;
}

.notion-collection-card {
  font-family: var(--notion-font);
  overflow: visible;
}

.notion-collection-card-cover {
  border-radius: 8px;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

.notion-collection-card-cover {
  border-bottom: 0 none;
  transition: filter 150ms linear;
  filter: none;
}

.notion-collection-card:hover .notion-collection-card-cover {
  filter: brightness(120%);
}

.notion-collection-card-body {
  padding: 10px;
}

/* only target safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

.notion-quote {
  padding: 0.2em 0.75em;
  line-height: 1.5;
  font-style: normal;
  font-size: 1.2em;
  font-family: var(--notion-font);
  border-left: 4px solid #67bdfc;
  font-family: var(--notion-font);
}

.notion-h1,
.notion-h2,
.notion-h3 {
  margin-bottom: 0.25em;
  font-family: var(--notion-font);
}

.notion-callout {
  margin: 0.75em 0;
  font-family: var(--notion-font);
}

.notion-hr {
  margin: 2em 0;
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}

.notion-title {
  display: block;
  text-align: center;
  font-family: var(--notion-font);
}

.notion-collection-row {
  padding-bottom: 1em;
}

.notion-collection-page-properties .notion-collection-column-title {
  display: none;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: center;
}

.notion-collection-row-value {
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 23px;
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper span,
.notion-page-cover-wrapper img {
  max-width: 1200px !important;
  border-radius: 12px;
}

.notion-page-cover-wrapper {
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover-wrapper,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    border-radius: 0;
  }
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-page-link {
  justify-content: center;
  padding: 2em;
}

.notion-code {
  background: rgba(15, 182, 242, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
}

.notion-link {
  position: relative;
  transition: unset;
  opacity: 1;
  font-family: var(--notion-font);
  border-bottom-width: 0.1rem;
  background: transparent;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 0 0.1rem;
}

.notion-link:focus,
.notion-link:hover {
  border-bottom-color: transparent;
  font-family: var(--notion-font);
  background-image: linear-gradient(90.68deg, #39a2df 0.26%, #4959e8 102.37%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1rem;

  transition-property: background-position, background-size;
  transition-duration: 300ms;
}

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  padding: 0.125em 0.375em !important;
  margin: 0 !important;
  border-radius: 0.125em !important;
  display: inline !important;
  background-image: none !important;
  box-decoration-break: clone;
}

/* dark mode */
.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  padding: 0.125em 0.375em !important;
  margin: 0 !important;
  border-radius: 0.125em !important;
  background: none !important;
}

/* if you don't want rounded page icon images, remove this */
.notion-page-icon-hero.notion-page-icon-image {
  border-radius: 50%;
  box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}
.notion-page-icon-hero.notion-page-icon-image span,
.notion-page-icon-hero.notion-page-icon-image img {
  border-radius: 50%;
}

.notion-header {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(16px);
}

.dark-mode .notion-header {
  background: transparent;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
}

/* Workaround for Firefox not supporting backdrop-filter yet */
@-moz-document url-prefix() {
  .dark-mode .notion-header {
    background: hsla(203, 8%, 20%, 0.8);
  }
}

.notion-bookmark:hover {
  border-image: linear-gradient(90.68deg, #39a2df 0.26%, #4959e8 102.37%);
  border-image-slice: 1;
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-column {
  padding: 0;
}

.notion-block-260baa77f1e1428b97fb14ac99c7c385 {
  display: none;
}

.notion-search .searchBar {
  box-shadow: var(--fg-color-0) 0px 1px 0px;
}

.notion-search .noResults {
  color: var(--fg-color-3);
}

.notion-search .noResultsDetail {
  color: var(--fg-color-2);
}

.notion-equation.notion-equation-block{
  align-items: center;
}

.notion-equation.notion-equation-block{
  align-items: center;
}
